{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Cadastro - AvaAulas</title>
</head>

<body>

    {% if status == '1'%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erro!</strong> O usuario deve ter pelo menos 3 caracteres.
    </div>
    {%endif%}
    {% if status == '2'%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erro!</strong> A senha deve ter pelo menos 6 caracteres.
    </div>
    {%endif%}
    {% if status == '3'%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erro!</strong> Usuário já existe.
    </div>
    {%endif%}
    {% if status == '4'%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erro!</strong> Erro interno do sistema.
    </div>
    {%endif%}
    {% if status == '0'%}
    <div class="alertBom">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Sucesso!</strong> Cadastro realizado com sucesso.
    </div>
    {%endif%}


    <main class="container">
        <h2>Cadastrar</h2>
        <form action="{%url 'valida_cadastro'%}" method="POST"> {%csrf_token%}
            <div class="input-field">
                <input type="text" placeholder="Seu nome" name="username" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="email" placeholder="Seu Email" name="email" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Sua senha" name="senha" required>
                <div class="underline"></div>
            </div>
            <input type="submit" value="cadastrar">
            <p>Já tem um usuario? <a href="{%url 'login'%}">Logar!</a></p>
            <br>
        </form>
    </main>


</body>

</html>